{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

      <!-- Favicons -->
  <link href="{% static 'student/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'student/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'student/assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'student/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'student/assets/css/style.css' %}" rel="stylesheet">



</head>

<body style="background-color:#E6E6FA;">

  <!-- ======= Header ======= -->
  <header id="header">
      <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
          <a class="navbar-brand" href="adminindex.html"><h2>Admin Panel</h2></a>
          <ul>
              <li><a href="adminindex.html">Home</a></li>
              <li><a href="adminstudentdetails.html">Students</a></li>
              <li><a href="adminpaymentlist.html">Payments</a></li>
              <li><a href="adminuserdetails.html">Users</a></li>
              <li><a href="register.html">Add Users</a></li>
              <li><a href="libraryuserdetails.html">Library Users</a></li>
              <li><a href="libraryuserregister.html">Add Library User</a></li>
          </ul>
          <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse" >
                <ul class="navbar-nav">
                    <li><b style="color:green;">Welcome &nbsp;{{request.session.username}}|</b></li>
                    <li style="padding-right:20px;"><a href="{% url 'adminlogout'%}">Logout</a></li>
                </ul>
            </div>
      </nav><!-- .navbar -->
  </header><!-- End Header -->

  {% block content %}
  {% endblock %}

  <!-- Vendor JS Files -->
  <script src="{% static 'student/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'student/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'student/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'student/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'student/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'student/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'student/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'student/assets/js/main.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>

</html>